a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}
mark, rp, rt, ruby, summary, time {
    display: inline;
}
html {
    width: 100%;
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/bg.jpg");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}		
header {
    position: relative;
    width: 100%;
    z-index: 2;
}
.row-1 {
    background: url("../images/row1-top-tail.gif") repeat-x scroll left top transparent;
    height: 71px;
    width: 100%;
    z-index: 2;
}
.main {
    font-size: 0.8125em;
    line-height: 1.6153em;
    margin: 0 auto;
    padding: 0;
    width: 980px;
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.container_12 .grid_12 {
    width: 940px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.menu {
    padding: 0;
    width: 100%;
}
ol, ul {
    list-style: none outside none;
}
.menu li {
    float: left;
    position: relative;
}
.menu li:first-child {
    background: url("../images/menu-a-tail.gif") no-repeat scroll 0 -71px transparent;
}
.menu li a:hover, .menu li a.active {
    background-color: #000000;
    background-position: left top;
    background-repeat: repeat-x;
    color: #FFFFFF;
}
.menu li a {
    background: url("../imagesmenu-a-tail.gif") no-repeat scroll right -71px transparent;
    color: #262626;
    display: block;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 1.238em;
    padding: 21px 0 24px;
    text-align: center;
    text-transform: uppercase;
    width: 188px;
}
.menu li a, .list-1 li a, .list-2 li a, .link, .button, .logo {
    text-decoration: none;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
body {
    background-color: #ececec;
    font: 14px/18px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
input, textarea,select {
    background: #ffffff;
    border: 1px solid #000000;
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #0F5B96;
}
h1, h2, h3, p, ol, ul {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2 {
    /*text-transform: lowercase;*/
    font-weight: normal;
}

h1 {
    letter-spacing: -2px;
    font-size: 2.4em;
}

h2 {
    letter-spacing: -1px;
    font-size: 1.8em;
}
a {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

img.left {
    float: left;
    margin: 4px 20px 0 0;
}

img.right {
    float: left;
    margin: 4px 0 0 20px;
}

hr {
    /*display: none;*/
    color: #cccccc;
}

/**
 * Header
 */
#header {
background:url(../images/asd-eliezerfot123.png)no-repeat;
background-color: black;
border:solid 1px #2b2b2b;

padding: 15px 0px 15px 0px; margin: 0px 0px 0px 0px; height:70px;   
}
#header .logo { font-weight: bold; }
#header a { color: #ccc; text-decoration: none; }
#header a:hover { text-decoration: underline; }

#quick { text-align: right; }

#logo {
    float: left;
}

#logo h1, #logo p, #logo img {
    float: left;
    margin: 0;
    margin-top:20px;
    line-height: normal;
}

#logo h1 {
    padding: 17px 0 0 0px;
    font-size: 3em;
    color: transparent;
}

#logo p {
    padding: 69px 0 0 7px;
    letter-spacing: -1px;
    font-size: 1.4em;
    color: #199DD2;
}
#logo img {
    padding: 9px 70px 0px 0px;
}
#logo a {
    text-decoration: none;
    color: #62D6F5;
}
/**
 * Pagination
 */
div.paging,
div.counter { text-align: center; margin: 0px; }
div.counter { margin-top: 10px; }

/* Page */

#page {
    width: 800px;
    margin-top: -320px;
    margin-left: 20%;
    /*position: relative;*/
    z-index: 1;

        
}
#content { 
    margin-top:-100px;
    margin-bottom: 20px; 
    min-height:500px;}
#content_mapa {
    float: left;
    width: 558px;
    padding: 0 0 0 25px;
    margin-bottom: 20px;
    overflow: auto;
}
.post_mapa {
    margin-bottom: 15px;
    background: #1EB5DD url(../images/post_mapa.png) no-repeat;
    color: #0A416B;
    width:550px;
}
.post {
    margin-bottom: 15px;
    background: #1EB5DD url(../images/img05.gif) no-repeat;
    color: #0A416B;
}

.post a {
    color: #A4E4F5;
}

.post a:hover {
    color: #FFFFFF;
}

.post .title {
    margin: 0;
    padding: 30px 30px 0 30px;
}

.post .title a {
    text-decoration: none;
    color: #0A416B;
}

.post .byline {
    margin: 0;
    padding: 0 30px;
}

.post .entry {
    padding: 20px 30px 10px 30px;
}

.post .links {
    margin: 0;
    padding: 10px 30px 35px 30px;
    background: url(../images/img06.gif) repeat-x left bottom;
    border-top: 1px solid #2872A6;
}

.post .links a {
    padding-left: 10px;
    background: url(../images/img08.gif) no-repeat left center;
    text-decoration: none;
    font-weight: bold;
    color: #0A416B;
}

.post .links a:hover {
    color: #FFFFFF;
}

/* Sidebars */

.sidebar {
    float: left;
    width: 200px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

.sidebar li {
}

.sidebar li ul {
}

.sidebar li li {
    padding: 6px 0 6px 10px;
    background: url(../images/img08.gif) no-repeat 0 12px;
    border-bottom: 1px solid #2872A6;
}

.sidebar li li a {
    text-decoration: none;
    color: #C9ECF5;
}

.sidebar li li a:hover {
    color: #FFFFFF;
}

.sidebar li h2 {
    padding-top: 20px;
    color: #FFFFFF;
}

/* Left Sidebar */

#leftbar {
}

/* Right Sidebar */

#rightbar {
    padding: 0 0 0 25px;
}

/* Search */

#searchform {
    padding-top: 20px;
    text-align: right;
}

#searchform br {
    display: none;
}

#searchform input {
    margin-bottom: 5px;
}

#searchform #s {
    width: 190px;
}

/* Calendar */

#calendar_wrap {
    padding-left: 10px;
}

#calendar_wrap table {
    width: 180px;
    text-align: center;
    border-collapse: collapse;
}

#calendar_wrap tfoot {
    font-weight: bold;
}

#calendar_wrap tfoot a {
    text-decoration: none;
}

#calendar_wrap #prev {
    text-align: left;
}

#calendar_wrap #next {
    text-align: right;
}

#calendar_wrap tbody {
    border-bottom: 1px solid #2872A6;
    border-right: 1px solid #2872A6;
}

#calendar_wrap tbody td {
    padding: 3px 0;
    border-top: 1px solid #2872A6;
    border-left: 1px solid #2872A6;
}

#calendar_wrap tbody td a {
    font-weight: bold;
}


/**
 * Footer
 */
#footer { width: 100%; text-align: center; 
/*background-image:url(../img/abajo.png);*/
 padding: 0px 0px 1px 0px; height: 68px; 
 background: #ffffff;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffff66), to(#ffffff));
            background: -moz-linear-gradient(#ffff66, #ffffff);
            background: linear-gradient(#ffff66, #ffffff);
 }
#footer a { color: #ccc; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#footer p {
    text-align: center;
    font-size: smaller;
    color: #0F5B96;
}
.mapa {
    padding: 6px 0 6px 10px;
    background: url(../images/mapa.png) no-repeat 0 12px;
    width:490px;
    height:550px;
    margin-left:50px;
    margin-top:50px;
}
.container {
    margin: 0 auto;
    position: relative;
    width: 400px;
    font-size:.8125em;
}
#content_ga {
    margin-top:-250px;
    margin-left:-5px;
    float:left;
    width: 730px;
    height:299px;
}
.imgtface{
    position:absolute;
    margin-top:-13px;
}
.fondoface2{
    /*margin-top:45px;*/
    margin-left:10px;
    width:229px;
    height:384px;
    background:url(../images/imagen_fondo.png) no-repeat;
}
.twitref2{
    width:219px;
    margin-left:250px;
    height:384px;
    margin-top:-385px;
    padding-left:0px;
    background:url(../images/imagen_fondo.png) no-repeat;
}
.imgtwit{
    margin-top:-13px;
}
.fondotwi{
    position:absolute;
    vertical-align:top;
    margin-left:40px;
    width:219px;
    height:384px;
    background:url(../images/bgtwit.png) no-repeat;
}
.fondoyoutube2{
    margin-left:-10px;
    width:289px;
    height:384px;
    margin-left:480px;
    
    margin-top:-385px;
    background:url(../images/bgtwit.png) no-repeat;
}
.imgyoutube{
    margin-top:-13px;
}
.videoembed{
    margin-left:20px;
    margin-top:10px;
}

.textoembed{
    margin-left:20px;
    margin-right:40px;
    text-align:justify;
    margin-top:5px;
        line-height: 110%;
        font-size: 10pt;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
}
.imagenes{
    width:219px;
    margin-left:5px;
    height:294px;
    margin-top:10px;
    background:url(../images/imagen_fondo.png) no-repeat;
}
.contentimggalery{
    margin-top:10px;
    margin-left:0px;
    padding-left:0px;
    
}
.listathumbs{
    margin-left:18px;
    padding-left:0px;
    display:inline;
    list-style: none;
    
}
.listathumbs a{
    margin-left:40px;
    
}

.imagenes_quienes{
    width:219px;
    margin-left:5px;
    height:604px;
    margin-top:10px;
    background:url(../images/imagen_fondo_quienes.png) no-repeat;
}
.imagenes_campanas{
    width:221px;
    margin-left:5px;
    height:720px;
    margin-top:10px;
    background:url(../images/imagen_fondo_campanas.png) no-repeat;
}
/*ESTILO DEL FORMULARIO DE CONTACTANOS*/
.codigo{
    width:30%;
}
.email{
    width:50%;
}
.telefono{
    width:50%;
}
.otro_input{
    width:84%;
    height:20%;
}
.textar{
    width:84%;
}
.auto{
    width:8%;
}
.sexo{
    float: left;
}

.botonreg{
    width: 160px;
    border:none;
    color: #67635b;
    height: 20px;
    font-size: 14px;
    margin-top:30px;
    margin-bottom:30px;
    background-image: url("../img/btnlog.png");
    background-repeat: no-repeat;
}
table.regtable{
    padding-top: 25px;
    margin-bottom: 25px;
    background-color:none;
}
.capti{
    text-align:left;
        color:#000000;
        font-weight: bold;
        font-size: 12pt;
        width:44%;
}
input{
    font-size:14px;
    color:#434342;
    margin-top:5px;
    margin-bottom:5px;
}
/*FIN ESTILO DEL FORMULARIO DE CONTACTANOS*/
fieldset{ 
            background-color:#E1E2EF;
            border:solid 1px #FF0033;
            -moz-border-radius:12px;
            -webkit-border-radius:12px; 
            -moz-border-radius-bottomleft:12px;
            -moz-border-radius-topleft:12px;    
            -webkit-border-bottom-left-radius:14px; 
            -webkit-border-top-left-radius:14px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;
            width:415px;            
            /*height:300px;         */
}
.flash_good {   
background: #e5f2be;   
border:2px solid #bedf5d;   
padding:10px;   
font-weight:bold; 
text-align:center; 
color:black;
margin-bottom:5px;
}  
.flash_bad {   
background: #eccecf;  
border:2px solid #9e0b0f;  
padding:10px;  
font-weight:bold;  
text-align:center;
color:black;
margin-bottom:5px;
}  
fieldset.comentario{ 
            background-color:#E1E2EF;
            border:solid 0px black;
            -moz-border-radius:12px;
            -webkit-border-radius:12px; 
            -moz-border-radius-bottomleft:12px;
            -moz-border-radius-topleft:12px;    
            -webkit-border-bottom-left-radius:14px; 
            -webkit-border-top-left-radius:14px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;
            width:300px;    
                margin-bottom:5px;
                margin-top:5px;
            /*height:300px;         */
}
fieldset.banco{ 
            background-image: url("../img/btnlog.png");
            border:solid 0px black;
            -moz-border-radius:12px;
            -webkit-border-radius:12px; 
            -moz-border-radius-bottomleft:12px;
            -moz-border-radius-topleft:12px;    
            -webkit-border-bottom-left-radius:14px; 
            -webkit-border-top-left-radius:14px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;
            width:205px;    
                margin-bottom:5px;
                margin-top:5px;
            /*height:300px;         */
}
fieldset.contactos{ 
            background-color:white;
            border:solid 4px #ddd;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;
            width:600px;    
            margin-bottom:5px;
            margin-top:5px;
            text-align: center;
            /*height:300px;         */
}

div.fotos{ 
            //background-color:#E1E2EF;
            background-image: url("../images/foto.png");
            border:solid 0px black;
            -moz-border-radius:12px;
            -webkit-border-radius:12px; 
            -moz-border-radius-bottomleft:12px;
            -moz-border-radius-topleft:12px;    
            -webkit-border-bottom-left-radius:14px; 
            -webkit-border-top-left-radius:14px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;
            width:110px;    
            margin-left:40px;
            margin-top:-10px;
            height:95px;        
}
div.video{ 
            //background-color:#E1E2EF;
            background-image: url("../images/video.png");
            border:solid 0px black;
            -moz-border-radius:12px;
            -webkit-border-radius:12px; 
            -moz-border-radius-bottomleft:12px;
            -moz-border-radius-topleft:12px;    
            -webkit-border-bottom-left-radius:14px; 
            -webkit-border-top-left-radius:14px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;
            width:115px;    
            margin-left:40px;
            margin-top:-10px;
            height:95px;        
}
.botonofrenda{
    width: 160px;
    border:none;
    color: #67635b;
    height: 20px;
    font-size: 14px;
    margin-top:3px;
    margin-bottom:3px;
    background-image: url("../img/btnlog.png");
    background-repeat: no-repeat;
}

#toolTipBox {  
    display: none;  
    padding: 5px 5px 5px 5px;  
    font-size: 14px;  
    border: white solid 1px;  
    font-family: verdana;  
    position: absolute;  
    background-color: #000000;  
    color: #FFFFFF;  
    
} 
fieldset.puntuacion{ 
    border:solid 1px #ffffff;
    background: #0D82B5;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#ccff99));
    background: -moz-linear-gradient(#ffffff, #ccff99);
    background: linear-gradient(#ffffff, #ccff99);
    height:35px;
    padding-left:10px;
    padding-right:10px;
}
table.compras{border: 1px solid #dfdfdf; background-color: #fff; clear: both; width:770px; border-bottom: 3px solid #dfdfdf;}
table.paginador{border: 1px solid #dfdfdf; background-color: #00CCCC; clear: both; width:770px; border-bottom: 3px solid #dfdfdf;}
/*style="background-color: #00CCCC; width: 100%;height:25px;"*/
.sesion{ 
            /*background-color:#00CCCC;
            background: #ffffff;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffff66), to(#ffffff));
            background: -moz-linear-gradient(#ffff66, #ffffff);
            background: linear-gradient(#ffff66, #ffffff);
            border:solid 2px #ffffff;
            -moz-border-radius:12px;
            -webkit-border-radius:12px; 
            -moz-border-radius-bottomleft:12px;
            -moz-border-radius-topleft:12px;    
            -webkit-border-bottom-left-radius:14px; 
            -webkit-border-top-left-radius:14px;
            -moz-box-shadow:0 0 6px #ddd;
            -webkit-box-shadow:0 0 6px #ddd;*/
            
}

table.mensajes { width: 770px; border: 1px solid #dfdfdf; background-color: #fff; clear: both; }
table tr th.mensajes { padding: 5px; background-color: #e7e7e7; color: #464646; border-bottom: 0px; text-align: center; }
table tr td.mensajes { padding: 5px; border-bottom: 1px solid #dfdfdf; vertical-align: middle; }

ul.nav {
    list-style:none;
    height:120px;
    margin:0;
    padding:0;
}

ul.nav table {
    border-collapse:collapse;
    width:0;
    height:0;
    margin:-1px 0 -5px -1px;
}

ul.nav > li {
    float:right;
    height:120px;
    width:40px;
    position:relative;
    overflow:hidden;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    -o-transition-duration:.5s;
    z-index: 2;
}

* html ul.nav > li {
    width:auto;
}

ul.nav > li a.ie6 {
    float:left;
    height:120px;
    width:39px;
    position:relative;
    overflow:hidden;
}

ul.sub {
    list-style:none;
    height:120px;
    width:385px;
    background:url(../images/panel.png) no-repeat right top;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
}

ul.sub li {
    float:left;
}

ul.sub li:first-child {
    margin-left:45px;
}

ul.sub li a {
    display:block;
    width:110px;
    height:120px;
    float:left;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    color:#000;
}

ul.sub li a b {
    font-weight:700;
    display:block;
    padding:15px 15px 5px;
}

ul.sub li a p {
    font-size:12px;
    display:block;
    margin:0;
    padding:0 10px;
}

ul.sub li a i {
    display:block;
    width:64px;
    height:64px;
    position:absolute;
    right:10px;
    bottom:10px;
    background:url(../images/user_add.png) no-repeat;
    opacity:0.1;
    filter:alpha(opacity = 10);
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    -o-transition-duration:.5s;
}

ul.nav > li:hover {
    width:385px;
}

ul.nav > li a.ie6:hover {
    direction:ltr;
    width:385px;
}

ul.sub li a:hover i {
    opacity:1.0;
}
/*otro panel */
ul.panel2 {
    list-style:none;
    height:120px;
    width:492px;
    background:url(../images/panel2.png) no-repeat right top;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
}

ul.panel2 li {
    float:left;
}

ul.panel2 li:first-child {
    margin-left:45px;
}

ul.panel2 li a {
    display:block;
    width:110px;
    height:120px;
    float:left;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    color:#000;
}

ul.panel2 li a b {
    font-weight:700;
    display:block;
    padding:15px 15px 5px;
}

ul.panel2 li a p {
    font-size:12px;
    display:block;
    margin:0;
    padding:0 10px;
}

ul.panel2 li a i {
    display:block;
    width:64px;
    height:64px;
    position:absolute;
    right:10px;
    bottom:10px;
    background:url(../images/user_add.png) no-repeat;
    opacity:0.1;
    filter:alpha(opacity = 10);
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    -o-transition-duration:.5s;
}
 .buy {
    display:block;
    width:64px;
    height:64px;
    position:absolute;
    right:10px;
    bottom:10px;
    background:url(../images/buy_32.png) no-repeat;
    
}
.claim {
    display:block;
    width:64px;
    height:64px;
    position:absolute;
    right:10px;
    bottom:10px;
    background:url(../images/claim.png) no-repeat;
    
}
 .close{
    display:block;
    width:64px;
    height:64px;
    position:absolute;
    right:10px;
    bottom:10px;
    background:url(../images/delete.png) no-repeat;
    
}
.perfil{
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url(../images/process.png)no-repeat;
}



ul.panel2 li a:hover i {
    opacity:1.0;
}
/*footer */
footer {
}

.sticky_footer footer {
    bottom: 0;
    left: 0;
    min-width: 320px;
    position: absolute;
    width: 100%;
}
#footer {
}
footer .footer_top {
    background-color: #000;
    margin-bottom: 1px;
    padding: 38px 0 0;
}
footer .footer_bottom {
    background-color: #000;
    height: 51px;
}
.block_footer_widgets {
    margin-left: -20px;
    width: 960px;
}
.block_footer_widgets .column {
    float: left;
    margin-left: 20px;
    width: 220px;
}

.inner {
    margin: 0 auto;
    width: 940px;
}


.block_copyrights {
    height: 51px;
}

.block_copyrights p {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.923em;
    font-style: italic;
    line-height: 51px;
    padding-bottom: 0;
    text-align: center;
}
.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 100%;
}
            #horizontalmenu{
            margin:10px;
            }
#horizontalmenu .link a{
float:left;
padding:8px;
background-color:#eeeeee;
display:block;
margin-right:9px;
text-decoration:none;
-webkit-border-radius:7px;
-moz-border-radius:7px;
font-family:Tahoma, Geneva, sans-serif;
font-size:15px;
color:#666;
font-weight:bold;
text-shadow:1px 1px 1px #fff;
}
#horizontalmenu .link a:hover{
background-color:#e3e3e3;
text-shadow:1px 1px 1px #fff;
}
#horizontalmenu{
margin:10px;
}
#horizontalmenu .link a{
float:left;
padding:8px;
background-color:#eeeeee;
display:block;
margin-right:9px;
text-decoration:none;
-webkit-border-radius:7px;
-moz-border-radius:7px;
font-family:Tahoma, Geneva, sans-serif;
font-size:15px;
color:#666;
font-weight:bold;
text-shadow:1px 1px 1px #fff;
}
#horizontalmenu .link a:hover{
background-color:#e3e3e3;
text-shadow:1px 1px 1px #fff;
}


label { margin: 0px 0px 0px 3px; font-size: 14px; color: #464646; font-weight: bold; text-align: left;  }
.text label,
.textarea label,
.select label,
.file label,
.datetime label,
.password label { display: block; 

}
form input[type=submit] { 
    -moz-box-shadow: 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: 0px 1px 0px 0px #bbdaf7;
    box-shadow: 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 39px;
    text-decoration:none;
    text-shadow:1px 1px 14px #528ecc;
}
form input[type=submit]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}form input[type=submit]:active {
    position:relative;
    top:1px;
}
form input[type=text],
form input[type=password],
form input[type=file],
form textarea { padding: 5px; font-size: 17px;  border: 1px solid #ccc; }
form select { padding: 3px; font-size: 20px; size:60px; margin-bottom: 10px; background-color: #fff; border: 1px solid #ccc; text-align: left;}
form input:focus,
form select:focus,
form textarea:focus { border: 1px solid #999; }
